<header class="header">
  <img class="header__logo" src="assets/img/logo.svg" alt="Logotipo do Estúdio Ghibli">

  <div class="header__social">
    <a href="https://www.facebook.com/FansOfStudioGhibli/" target="_blank" rel="noreferrer noopener" title="Facebook">
      <img src="assets/img/facebook.svg" alt="Ícone do Facebook">
    </a>

    <a href="https://www.instagram.com/ghibli.movies/" target="_blank" rel="noreferrer noopener" title="Instagram">
      <img src="assets/img/instagram.svg" alt="Ícone do Instagram">
    </a>

    <a href="https://twitter.com/ghibliusa" target="_blank" rel="noreferrer noopener" title="Twitter">
      <img src="assets/img/twitter.svg" alt="Ícone do Twitter">
    </a>

    <a href="https://www.youtube.com/playlist?list=PLVfHJfXFDXRisXKXlgcRwL0_WBaZ4cPnY" target="_blank"
      rel="noreferrer noopener" title="Youtube">
      <img src="assets/img/youtube.svg" alt="Ícone do Youtube">
    </a>
  </div>
</header>