<section class="hero">
  <div class="hero__description">
    <h2>HAYAO MIYAZAKI</h2>

    <h1>A VIAGEM <br>DE CHIHIRO</h1>

    <p>
      Chihiro chega a um mundo mágico dominado por uma bruxa. Aqueles que a desobedecem são transformados em animais.
    </p>

    <footer class="hero__footer">
      <a href="https://www.justwatch.com/br/filme/a-viagem-de-chihiro" target="_blank" rel="noreferrer noopener">
        <img src="assets/img/play.svg" alt="Ícone de play">
        Assistir agora
      </a>

      <a href="#" onclick="openModal()">assista o trailer</a>
    </footer>
  </div>

  <img class="hero__illustration" src="assets/img/ilustracao.png" alt="Personagem do filme, Kaonashi">
</section>